/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
}
h2,
h3,
a {
	color: #093a58;
}
h1,
h2,
h3 {
	margin-top: 0;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
.main-header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 3px rgba(0,0,0,.5);
}
.main-title {
  display: flex;
  padding: 0 8px;
}
.name {
	font-size: 1.35em;
	margin: 0;
}
.navigation-bar {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-left: auto;
  cursor: pointer;
}
.main-nav {
  display: none;
}
.main-nav.show {
  display: flex;
  flex-direction: column;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: #F2994A;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .35em;
	padding-bottom: .35em;
}
.banner,
.main-footer {
	text-align: center;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
	color: #fff;
  background: linear-gradient(#F2994A, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
              #F2994A url('../img/josue-isai-ramos-figueroa-587073-unsplash.jpg') no-repeat center;
  background-size: cover;
	padding: 1em 0;
  margin-bottom: 24px;
  min-height: 300px;
}
.row-title,
.row-footer {
  text-align: center;
}
.row {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}
.col {
	padding: 1em;
}
.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.headline {
  margin-bottom: 0;
  font-size: 1.8em;
}
.card {
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
.card-img {
  border-radius: .28571429rem .28571429rem 0 0;
}
.card-content {
  padding: 1em;
}
.ui.button {
  cursor: pointer;
  display: inline-block;
  outline: 0;
  border: none;
  background: transparent none;
  box-shadow: 0 0 0 2px #093a58 inset;
  color: #093a58;
  padding: .78571429em 1.5em .78571429em;
  font-weight: 700;
  text-align: center;
  border-radius: .28571429rem;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
}
.ui.button:hover,
.ui.button:active {
  box-shadow: none!important;
  color: #fff;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
}
.ui.button:hover {
  background-color: #093a58;
}
.ui.button:active {
  background-color: #07324c;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .footer-inner{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	.tagline {
		font-size: 1.4em;
  }
  .ui.button {
    font-size: .8em;
  }
}