/* ================================= 
  Media Queries
==================================== */

@media (min-width: 500px) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .col {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .navigation-bar,
  .close-button {
    display: none;
  }
  .main-nav {
    position: unset;
    margin-left: auto;
    flex-direction: row;
    box-shadow: unset;
  }
  .main-header {
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .banner {
    min-height: 600px;
  }
  .headline {
    font-size: 2em;
  }
}

.dimmed:after {
  position: fixed;
  top: 0;
  right: 0;
  content: '';
  background-color: rgba(0,0,0,.4);
  overflow: hidden;
  opacity: 0;
  transition: opacity .5s;
  will-change: opacity;
  z-index: 1000;
  width: 100% !important;
  height: 100% !important;
  opacity: 1 !important;
}