body {
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.segments {
  flex-direction: column;
  position: relative;
  margin: 1rem auto;
  border: 1px solid rgba(34, 36, 38, .15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  border-radius: .28571429rem;
  max-width: 800px;
  border-top: 2px solid #2185d0 !important
}

.segment {
  display: flex;
  position: relative;
  background: #fff;
  top: 0;
  bottom: 0;
  border-radius: 0;
  margin: 0;
  padding: 1em 1em;
  width: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .15);
}

.segments>.segment:first-child {
  border-top: none;
  margin-top: 0;
  bottom: 0;
  margin-bottom: 0;
  top: 0;
  border-radius: .28571429rem .28571429rem 0 0;
}

.segments>.segment:last-child {
  top: 0;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15), none;
  border-radius: 0 0 .28571429rem .28571429rem;
}

.content {
  padding: 10px 20px;
  border-right: 1px rgba(0, 0, 0, .5) solid;
  flex: .3;
}

.title {
  font-weight: 700;
  color: rgba(0, 0, 0, .87);
  word-break: break-word; 
}

.subtitle {
  font-weight: 300;
  color: rgba(0, 0, 0, .87);
}

.description {
  color: rgba(0, 0, 0, .6);
  display: flex;
  padding: 10px 20px;
  flex: .7;
  align-items: center;
  justify-content: flex-end;
}